.Form{
    margin: 100px auto;
    padding-right: 0;
    padding-left: 0;
}

.Form .Container{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
    height: 600px;
}
Form .Container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	width: 100%;
}
form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
form button:hover,
form button:focus,
form button:active,
form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}
form button.success{
	background: #27ae60;
	border-color: #27ae60; 
	color: #fff;
}
@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
form button span.loading-spinner{
	-webkit-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;
	border: 2px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	display: inline-block;
	height: 1em;
	width: 1em;
}

form label{
	border-bottom: 1px solid #333;
	display: block;
    font-size: 24px;
    font-weight: 600;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
form label.col-one-half{
	float: left;
    width: 50%;
    
}
form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
}
form label input{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}
form label input:focus{
	outline: none;
}
form label input:-webkit-autofill{
	background-color: transparent !important;
}
form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
form label.checkbox{
	border-bottom: 0;
	text-align: center;
}
form label.checkbox input{
	display: none;
}
form label.checkbox span{
	font-size: 0.5em;
}

form label.invalid{border-color: #c0392b !important;}
form label.invalid span.label-text{color: #c0392b;}
form label.password{position: relative;}
form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
form label.password button.toggle-visibility:hover,
form label.password button.toggle-visibility:focus,
form label.password button.toggle-visibility:active{
	color: #000;
	outline: none;
}
form label.password button.toggle-visibility span{vertical-align: middle;}

h2{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
    font-family: 'Cookie', cursive;
}
h2 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
.Form .Form_right  img{
    width: 100% !important;
    height: 600px;
}
@media screen and (max-width: 1100px) and (min-width: 801px){

}
@media screen and (max-width: 800px) and (min-width: 569px){
    .Form .Container{
        height: 600px;
        margin-bottom: 180px;
        box-shadow: none;
    }
    .Form .Form_img img{
        height: 300px;
        width: 100%;
        margin-top: 30px;
    }

}
@media screen and (max-width: 568px) and (min-width: 351px){
    .Form .Container{
        height: 600px;
        margin-bottom: 180px;
        box-shadow: none;
    }
    .Form .Form_img img{
        height: 300px;
        width: 100%;
        margin-top: 30px;
    }
}
@media screen and (max-width: 350px) and (min-width: 200px){
    .Form .Form_img img{
        width: 100% !important;
    }
}




